<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Router</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="">Router</a>
            <div>
                <button href="/new-post">Create Post</button>
                {{#if loggedin}}
                <button id="logout" class="">Logout</button>
                {{else}}
                <button href="/login" class="">login</a>
                {{/if}}
            </div>
        </nav>
    </header>
  
</body>

</html>