<section>
    {{#each post}}
        <div>
            <h3>{{this.title}}</h3>
            <h1>{{this.author}}</h1>
            <h1>{{this.date_created_on}}</h1>
            <div>
                {{this.content}}
            </div>
        </div>
</section>