<section>
    {{#each post}}
        <div>
            <h3>{{post.title}}</h3>
            <h1>{{post.author}}</h1>
            <h1>{{post.date_created_on}}</h1>
            <div>
                {{post.content}}
            </div>
        </div>
</section>