<form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit" id="login">Login</button>
    <button type="submit" id="signup">Sign Up</button>
</form>
<script href="../../public/js/login.js"></script>